# Mini Project4
### 20181531 김연주

In [3]:
import numpy as np
import pandas as pd

wine = pd.read_csv("csv/winequality-red.csv")
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [4]:
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
wine.shape

(1599, 12)

In [6]:
wine.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [7]:
def split_train_test(data, test_ratio):
    shuffled_indices = np.random.permutation(len(data))
    test_set_size = int(len(data) * test_ratio)
    test_indices = shuffled_indices[:test_set_size]
    train_indices = shuffled_indices[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [8]:
train_set, test_set = split_train_test(wine, 0)
print(len(train_set), "train +", len(test_set), "test")

1599 train + 0 test

In [9]:
test_set

Empty DataFrame
Columns: [fixed acidity, volatile acidity, citric acid, residual sugar, chlorides, free sulfur dioxide, total sulfur dioxide, density, pH, sulphates, alcohol, quality]
Index: []

In [10]:
wine["alcohol_cat"] = pd.cut(wine["alcohol"],
                            bins=[ 8, 9, 10, 11, 12, np.inf],
                            labels=[1,2,3,4,5])

In [11]:
wine = train_set.copy()

In [12]:
corr_matrix = wine.corr()

In [13]:
corr_matrix["quality"].sort_values(ascending=False)

quality                 1.000000
alcohol                 0.476166
sulphates               0.251397
citric acid             0.226373
fixed acidity           0.124052
residual sugar          0.013732
free sulfur dioxide    -0.050656
pH                     -0.057731
chlorides              -0.128907
density                -0.174919
total sulfur dioxide   -0.185100
volatile acidity       -0.390558
Name: quality, dtype: float64

In [14]:
wine = train_set.drop("quality", axis=1)
wine_labels = train_set["quality"].copy()

In [15]:
wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
1362,11.6,0.475,0.40,1.4,0.091,6.0,28.0,0.99704,3.07,0.65,10.033333
75,8.8,0.410,0.64,2.2,0.093,9.0,42.0,0.99860,3.54,0.66,10.500000
555,15.5,0.645,0.49,4.2,0.095,10.0,23.0,1.00315,2.92,0.74,11.100000
1460,6.4,0.420,0.09,2.3,0.054,34.0,64.0,0.99724,3.41,0.68,10.400000
26,7.6,0.410,0.24,1.8,0.080,4.0,11.0,0.99620,3.28,0.59,9.500000
...,...,...,...,...,...,...,...,...,...,...,...
34,5.2,0.320,0.25,1.8,0.103,13.0,50.0,0.99570,3.38,0.55,9.200000
1440,7.2,0.370,0.32,2.0,0.062,15.0,28.0,0.99470,3.23,0.73,11.300000
243,15.0,0.210,0.44,2.2,0.075,10.0,24.0,1.00005,3.07,0.84,9.200000
1464,6.8,0.590,0.10,1.7,0.063,34.0,53.0,0.99580,3.41,0.67,9.700000
434,10.4,0.410,0.55,3.2,0.076,22.0,54.0,0.99960,3.15,0.89,9.900000

In [21]:
def display_scores(scores):
    print("Scores:", scores)
    print("Mean:", scores.mean())
    print("Standard deviation:", scores.std())

In [16]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(wine,wine_labels)

RandomForestRegressor()

In [17]:
some_data = wine.iloc[:10]
some_labels = wine_labels.iloc[:10]

print("Predictions:", model.predict(some_data))

Predictions: [6.01 5.1  5.06 5.93 5.22 5.19 5.7  5.09 6.01 5.96]

In [18]:
print("Labels:", list(some_labels))

Labels: [6, 5, 5, 6, 5, 5, 6, 5, 6, 6]

In [19]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(model, wine, wine_labels,
                        scoring="neg_mean_squared_error", cv=10)

forest_rmse_scores = np.sqrt(-scores)

In [22]:
display_scores(forest_rmse_scores)

Scores: [0.55322972 0.53119382 0.58895458 0.56650188 0.58321898 0.53507009
 0.72149454 0.5615798  0.57903961 0.5380988 ]
Mean: 0.5758381821907133
Standard deviation: 0.052281515642105876

In [23]:
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score

extra_scores = cross_val_score(model, wine, wine_labels,
                                scoring="neg_mean_squared_error", cv=10)
extra_scores = np.sqrt(-extra_scores)

In [24]:
display_scores(extra_scores)

Scores: [0.55465135 0.52699205 0.57834516 0.55995312 0.57776671 0.52329366
 0.71616775 0.56280325 0.56451306 0.52617942]
Mean: 0.5690665547948941
Standard deviation: 0.052778870784540285

In [25]:
from sklearn.ensemble import RandomForestRegressor

forest_reg = RandomForestRegressor(n_estimators=100, oob_score=True, random_state=42)
forest_reg.fit(wine, wine_labels)

RandomForestRegressor(oob_score=True, random_state=42)

In [26]:
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score

forest_scores = cross_val_score(forest_reg, wine, wine_labels,
                                scoring="neg_mean_squared_error", cv=10)
forest_rmse_scores = np.sqrt(-forest_scores)

In [27]:
display_scores(forest_rmse_scores)

Scores: [0.55237951 0.52708455 0.58411204 0.56537432 0.58345148 0.53702654
 0.72049462 0.5560952  0.57400675 0.53185802]
Mean: 0.573188303641598
Standard deviation: 0.05277512828929525

## ExtraTreesRegressor

In [28]:
from sklearn.ensemble import ExtraTreesRegressor

model2 = ExtraTreesRegressor(random_state=42)

In [29]:
model2.fit(wine,wine_labels)

ExtraTreesRegressor(random_state=42)

In [12]:
from sklearn.model_selection import cross_val_score

scores2 = cross_val_score(model2, wine, wine_labels,cv=10)
display_scores(scores2)

NameError: name 'model2' is not defined

## 결과: 0.5117527584871364