# Mini Project3
### 20181531 김연주

In [31]:
import numpy as np
import pandas as pd

housing = pd.read_csv("csv/kc_house_data.csv")

housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [40]:
housing['date']=  pd.to_datetime(housing['date'])
housing['date'] = housing['date'].apply(lambda x: x.strftime('%Y%m%d'))
housing["date"] = housing["date"].astype('int64')

housing["date"]

0        20141013
1        20141209
2        20150225
3        20141209
4        20150218
           ...
21608    20140521
21609    20150223
21610    20140623
21611    20150116
21612    20141015
Name: date, Length: 21613, dtype: int64

In [41]:
housing_shuffled=housing.iloc[np.random.permutation(housing.index)].reset_index(drop=True)

In [42]:
housing.corr()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,1.000000,0.009857,-0.016762,0.001286,0.005160,-0.012258,-0.132109,0.018525,-0.002721,0.011592,...,0.008130,-0.010842,-0.005151,0.021380,-0.016907,-0.008224,-0.001891,0.020799,-0.002901,-0.138798
date,0.009857,1.000000,0.003033,-0.010493,-0.027523,-0.029791,0.005599,-0.022550,-0.003798,0.001063,...,-0.031464,-0.024421,-0.016130,0.003248,-0.024070,0.001235,-0.029770,-0.000301,-0.022752,0.000154
price,-0.016762,0.003033,1.000000,0.308350,0.525138,0.702035,0.089661,0.256794,0.266369,0.397293,...,0.667434,0.605567,0.323816,0.054012,0.126434,-0.053203,0.307003,0.021626,0.585379,0.082447
bedrooms,0.001286,-0.010493,0.308350,1.000000,0.515884,0.576671,0.031703,0.175429,-0.006582,0.079532,...,0.356967,0.477600,0.303093,0.154178,0.018841,-0.152668,-0.008931,0.129473,0.391638,0.029244
bathrooms,0.005160,-0.027523,0.525138,0.515884,1.000000,0.754665,0.087740,0.500653,0.063744,0.187737,...,0.664983,0.685342,0.283770,0.506019,0.050739,-0.203866,0.024573,0.223042,0.568634,0.087175
sqft_living,-0.012258,-0.029791,0.702035,0.576671,0.754665,1.000000,0.172826,0.353949,0.103818,0.284611,...,0.762704,0.876597,0.435043,0.318049,0.055363,-0.199430,0.052529,0.240223,0.756420,0.183286
sqft_lot,-0.132109,0.005599,0.089661,0.031703,0.087740,0.172826,1.000000,-0.005201,0.021604,0.074710,...,0.113621,0.183512,0.015286,0.053080,0.007644,-0.129574,-0.085683,0.229521,0.144608,0.718557
floors,0.018525,-0.022550,0.256794,0.175429,0.500653,0.353949,-0.005201,1.000000,0.023698,0.029444,...,0.458183,0.523885,-0.245705,0.489319,0.006338,-0.059121,0.049614,0.125419,0.279885,-0.011269
waterfront,-0.002721,-0.003798,0.266369,-0.006582,0.063744,0.103818,0.021604,0.023698,1.000000,0.401857,...,0.082775,0.072075,0.080588,-0.026161,0.092885,0.030285,-0.014274,-0.041910,0.086463,0.030703
view,0.011592,0.001063,0.397293,0.079532,0.187737,0.284611,0.074710,0.029444,0.401857,1.000000,...,0.251321,0.167649,0.276947,-0.053440,0.103917,0.084827,0.006157,-0.078400,0.280439,0.072575
condition,-0.023783,-0.046517,0.036362,0.028472,-0.124982,-0.058753,-0.008958,-0.263768,0.016653,0.045990,...,-0.144674,-0.158214,0.174105,-0.361417,-0.060618,0.003026,-0.014941,-0.106500,-0.092824,-0.003406
grade,0.008130,-0.031464,0.667434,0.356967,0.664983,0.762704,0.113621,0.458183,0.082775,0.251321,...,1.000000,0.755923,0.168392,0.446963,0.014414,-0.184862,0.114084,0.198372,0.713202,0.119248
sqft_above,-0.010842,-0.024421,0.605567,0.477600,0.685342,0.876597,0.183512,0.523885,0.072075,0.167649,...,0.755923,1.000000,-0.051943,0.423898,0.023285,-0.261190,-0.000816,0.343803,0.731870,0.194050
sqft_basement,-0.005151,-0.016130,0.323816,0.303093,0.283770,0.435043,0.015286,-0.245705,0.080588,0.276947,...,0.168392,-0.051943,1.000000,-0.133124,0.071323,0.074845,0.110538,-0.144765,0.200355,0.017276
yr_built,0.021380,0.003248,0.054012,0.154178,0.506019,0.318049,0.053080,0.489319,-0.026161,-0.053440,...,0.446963,0.423898,-0.133124,1.000000,-0.224874,-0.346869,-0.148122,0.409356,0.326229,0.070958
yr_renovated,-0.016907,-0.024070,0.126434,0.018841,0.050739,0.055363,0.007644,0.006338,0.092885,0.103917,...,0.014414,0.023285,0.071323,-0.224874,1.000000,0.064357,0.029398,-0.068372,-0.002673,0.007854
zipcode,-0.008224,0.001235,-0.053203,-0.152668,-0.203866,-0.199430,-0.129574,-0.059121,0.030285,0.084827,...,-0.184862,-0.261190,0.074845,-0.346869,0.064357,1.000000,0.267048,-0.564072,-0.279033,-0.147221
lat,-0.001891,-0.029770,0.307003,-0.008931,0.024573,0.052529,-0.085683,0.049614,-0.014274,0.006157,...,0.114084,-0.000816,0.110538,-0.148122,0.029398,0.267048,1.000000,-0.135512,0.048858,-0.086419
long,0.020799,-0.000301,0.021626,0.129473,0.223042,0.240223,0.229521,0.125419,-0.041910,-0.078400,...,0.198372,0.343803,-0.144765,0.409356,-0.068372,-0.564072,-0.135512,1.000000,0.334605,0.254451
sqft_living15,-0.002901,-0.022752,0.585379,0.391638,0.568634,0.756420,0.144608,0.279885,0.086463,0.280439,...,0.713202,0.731870,0.200355,0.326229,-0.002673,-0.279033,0.048858,0.334605,1.000000,0.183192
sqft_lot15,-0.138798,0.000154,0.082447,0.029244,0.087175,0.183286,0.718557,-0.011269,0.030703,0.072575,...,0.119248,0.194050,0.017276,0.070958,0.007854,-0.147221,-0.086419,0.254451,0.183192,1.000000

In [52]:
housing = housing.drop(['date'], axis=1)
housing

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [53]:
X = housing.drop(['price'], axis=1) # price 제거 
X

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [54]:
y = housing['price']
y

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 21613, dtype: float64

In [55]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(random_state=42, n_jobs=-1)

In [56]:
scores = cross_val_score(model, X, y, 
                         scoring="neg_mean_squared_error", cv=10)
RF_rmse_scores = np.sqrt(-scores)
RF_rmse_scores

array([133000.24414128, 140643.67996108, 118873.99320993, 135658.35602771,
       112862.61750452, 136672.63503956, 139680.15092406, 119140.51599787,
       123551.75951474, 131445.31264051])

In [57]:
RF_rmse_scores.mean()

129152.92649612627

In [58]:
from sklearn.ensemble import ExtraTreesRegressor

model = ExtraTreesRegressor(n_estimators=200, random_state=42)

In [59]:
model.fit(X, y)

ExtraTreesRegressor(n_estimators=200, random_state=42)

In [60]:
scores = cross_val_score(model, X, y, 
                         scoring="neg_mean_squared_error", cv=10)
Extra_rmse_scores = np.sqrt(-scores)
Extra_rmse_scores

array([128193.30348186, 138339.6832178 , 118742.57775568, 128012.50504831,
       108351.55393288, 140346.11274826, 131434.54887339, 116874.03946528,
       121719.87030668, 131130.41870833])

In [61]:
Extra_rmse_scores.mean()

126314.4613538461

In [43]:
y_shuffled=housing_shuffled["price"]
x_shuffled=housing_shuffled.drop(["date","price","id"], axis=1)

In [44]:
from sklearn.ensemble import RandomForestRegressor

forest_reg = RandomForestRegressor(n_estimators=50, random_state=42)
forest_reg.fit(x_shuffled, y_shuffled)

RandomForestRegressor(n_estimators=50, random_state=42)

In [45]:
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score

forest_scores = cross_val_score(forest_reg, x_shuffled, y_shuffled,
                                scoring="neg_mean_squared_error", cv=10)
forest_rmse_scores = np.sqrt(-forest_scores)

In [46]:
def display_scores(scores):
    print("Scores:", scores)
    print("Mean:", scores.mean())
    print("Standard deviation:", scores.std())
    
display_scores(forest_rmse_scores)

Scores: [157872.77282189 126433.8771393  132893.23473275 114644.94277353
 112446.89949953 131160.78101924 144386.80792145 127943.32696288
 117212.46846476 115992.19725121]
Mean: 128098.73085865506
Standard deviation: 13704.077640342393

## 결과: 126533.13478675396

In [48]:
y_shuffled=housing_shuffled["price"]
x_shuffled=housing_shuffled.drop(["price","id"], axis=1)

In [49]:
from sklearn.ensemble import RandomForestRegressor

forest_reg = RandomForestRegressor(n_estimators=50, random_state=42)
forest_reg.fit(x_shuffled, y_shuffled)

RandomForestRegressor(n_estimators=50, random_state=42)

In [50]:
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score

forest_scores = cross_val_score(forest_reg, x_shuffled, y_shuffled,
                                scoring="neg_mean_squared_error", cv=10)
forest_rmse_scores = np.sqrt(-forest_scores)

In [51]:
display_scores(forest_rmse_scores)

Scores: [155734.74914413 127839.72024332 134045.87553121 115683.77363866
 111375.19758786 126461.73820657 145371.37480615 124571.0422808
 115992.38260341 115626.04796007]
Mean: 127270.1902002175
Standard deviation: 13571.028339390325