# DL_mini project #3

In [1]:
# Python ≥3.5 is required
import sys
assert sys.version_info >= (3, 5)

# Scikit-Learn ≥0.20 is required
import sklearn
assert sklearn.__version__ >= "0.20"

try:
    # %tensorflow_version only exists in Colab.
    %tensorflow_version 2.x
except Exception:
    pass

# TensorFlow ≥2.0 is required
import tensorflow as tf
from tensorflow import keras
assert tf.__version__ >= "2.0"

%load_ext tensorboard

# Common imports
import numpy as np
import os

# to make this notebook's output stable across runs
np.random.seed(42)

# To plot pretty figures
%matplotlib inline

In [2]:
import pandas as pd
kc_house = pd.read_csv('../../DL/data/kc_house_data.csv')

In [14]:
from sklearn.utils import shuffle
kc_house = shuffle(kc_house, random_state = 42)

In [21]:
df = kc_house.copy()
df = pd.DataFrame(kc_house)
df['year'] = pd.DatetimeIndex(df['date']).year
df = df.drop(['date','id'], axis = 1)
df

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,year
11158,220000.0,3,1.50,1280,7742,1.0,0,0,4,7,1280,0,1962,0,98031,47.3947,-122.197,1450,8316,2015
3261,256000.0,3,1.00,880,5375,1.0,0,0,4,5,880,0,1924,0,98055,47.4858,-122.202,980,4838,2014
4186,360000.0,3,2.00,1960,8846,1.0,0,3,4,6,980,980,1940,0,98178,47.5101,-122.246,2190,6363,2014
11298,203700.0,2,1.00,770,2500,1.0,0,0,3,6,770,0,1913,1960,98072,47.7534,-122.172,1500,8286,2014
894,209000.0,3,2.00,1230,1340,2.0,0,0,3,7,1020,210,2003,0,98106,47.5260,-122.361,1260,1312,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19941,450000.0,5,2.75,2710,6220,2.0,0,0,3,8,2710,0,2014,0,98038,47.3555,-122.061,2530,4759,2014
8838,1406890.0,5,2.25,3580,16789,2.0,0,0,5,9,3580,0,1966,0,98040,47.5364,-122.239,3390,17000,2014
13015,295000.0,4,2.00,1650,7200,1.0,0,0,3,7,1650,0,1964,0,98133,47.7543,-122.344,1410,7200,2015
7417,459000.0,4,3.00,1900,9077,2.0,0,0,3,7,1900,0,1954,2015,98155,47.7684,-122.304,1900,12868,2015
19836,285000.0,3,2.50,2437,5136,2.0,0,0,3,7,2437,0,2011,0,98002,47.3517,-122.210,2437,4614,2014

In [22]:
X_train_full = df.copy()

In [23]:
X_train_full

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,year
11158,220000.0,3,1.50,1280,7742,1.0,0,0,4,7,1280,0,1962,0,98031,47.3947,-122.197,1450,8316,2015
3261,256000.0,3,1.00,880,5375,1.0,0,0,4,5,880,0,1924,0,98055,47.4858,-122.202,980,4838,2014
4186,360000.0,3,2.00,1960,8846,1.0,0,3,4,6,980,980,1940,0,98178,47.5101,-122.246,2190,6363,2014
11298,203700.0,2,1.00,770,2500,1.0,0,0,3,6,770,0,1913,1960,98072,47.7534,-122.172,1500,8286,2014
894,209000.0,3,2.00,1230,1340,2.0,0,0,3,7,1020,210,2003,0,98106,47.5260,-122.361,1260,1312,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19941,450000.0,5,2.75,2710,6220,2.0,0,0,3,8,2710,0,2014,0,98038,47.3555,-122.061,2530,4759,2014
8838,1406890.0,5,2.25,3580,16789,2.0,0,0,5,9,3580,0,1966,0,98040,47.5364,-122.239,3390,17000,2014
13015,295000.0,4,2.00,1650,7200,1.0,0,0,3,7,1650,0,1964,0,98133,47.7543,-122.344,1410,7200,2015
7417,459000.0,4,3.00,1900,9077,2.0,0,0,3,7,1900,0,1954,2015,98155,47.7684,-122.304,1900,12868,2015
19836,285000.0,3,2.50,2437,5136,2.0,0,0,3,7,2437,0,2011,0,98002,47.3517,-122.210,2437,4614,2014

In [24]:
y_train = X_train_full[['price']]
X_train = X_train_full.drop(['price'],axis=1)

In [25]:
y_train

           price
11158   220000.0
3261    256000.0
4186    360000.0
11298   203700.0
894     209000.0
...          ...
19941   450000.0
8838   1406890.0
13015   295000.0
7417    459000.0
19836   285000.0

[21613 rows x 1 columns]

In [26]:
mean = X_train.mean(axis=0)
X_train -= mean
std = X_train.std(axis=0)
X_train /= std

In [27]:
X_train

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,year
11158,-0.398728,-0.798217,-0.870932,-0.177810,-0.915406,-0.087171,-0.305752,0.907533,-0.558823,-0.613931,-0.658666,-0.306574,-0.210124,-0.877297,-1.193332,0.119979,-0.782841,-0.163069,1.447868
3261,-0.398728,-1.447430,-1.306453,-0.234955,-0.915406,-0.087171,-0.305752,0.907533,-2.260286,-1.096970,-0.658666,-1.600261,-0.210124,-0.428741,-0.535873,0.084475,-1.468581,-0.290448,-0.690639
4186,-0.398728,-0.149004,-0.130547,-0.151156,-0.915406,-0.087171,3.609074,0.907533,-1.409554,-0.976210,1.555648,-1.055551,-0.210124,1.870108,-0.360502,-0.227963,0.296834,-0.234596,-0.690639
11298,-1.473925,-1.447430,-1.426221,-0.304365,-0.915406,-0.087171,-0.305752,-0.629172,-1.409554,-1.229805,-0.658666,-1.974750,4.669392,-0.111014,1.395369,0.297500,-0.709890,-0.164167,-0.690639
894,-0.398728,-0.149004,-0.925372,-0.332371,0.936484,-0.087171,-0.305752,-0.629172,-0.558823,-0.927906,-0.184170,1.089246,-0.210124,0.524440,-0.245754,-1.044560,-1.060055,-0.419586,-0.690639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19941,1.751667,0.824816,0.686054,-0.214555,0.936484,-0.087171,-0.305752,-0.629172,0.291909,1.112932,-0.658666,1.463734,-0.210124,-0.746468,-1.476234,1.085693,0.792901,-0.293342,-0.690639
8838,1.751667,0.175603,1.633312,0.040609,0.936484,-0.087171,-0.305752,2.444237,1.142641,2.163542,-0.658666,-0.170397,-0.210124,-0.709089,-0.170698,-0.178257,2.047659,0.154978,-0.690639
13015,0.676469,-0.149004,-0.468076,-0.190895,-0.915406,-0.087171,-0.305752,-0.629172,-0.558823,-0.167120,-0.658666,-0.238486,-0.210124,1.029066,1.401864,-0.923845,-0.841202,-0.203942,1.447868
7417,0.676469,1.149422,-0.195875,-0.145579,0.936484,-0.087171,-0.305752,-0.629172,-0.558823,0.134779,-0.658666,-0.578930,4.806317,1.440242,1.503622,-0.639812,-0.126282,0.003646,1.447868
19836,-0.398728,0.500209,0.388811,-0.240725,0.936484,-0.087171,-0.305752,-0.629172,-0.558823,0.783259,-0.658666,1.361601,-0.210124,-1.419302,-1.503659,0.027668,0.657212,-0.298652,-0.690639

In [33]:
from tensorflow.keras import models
from tensorflow.keras import layers
from functools import partial

SeluDense = partial(keras.layers.Dense,
                   activation = "selu",
                   kernel_initializer = "lecun_normal")

def build_model():
    model = keras.models.Sequential([
        layers.Flatten(input_shape = (X_train.shape[1],)),
        layers.Dropout(0.3),
        layers.BatchNormalization(),
        SeluDense(300),
        layers.Dropout(0.3),
        layers.BatchNormalization(),
        SeluDense(300),
        layers.Dropout(0.3),
        layers.BatchNormalization(),
        SeluDense(300),
        layers.Dropout(0.2),
        layers.BatchNormalization(),
        SeluDense(200),
        SeluDense(100),
        SeluDense(64),
        SeluDense(32),
        layers.Dense(1)
    ])
#     model.add(keras.layers.Flatten(input_shape = (X_train.shape[1],)))
#     #model.add(keras.layers.BatchNormalization())
#     model.add(keras.layers.Dense(300, kernel_initializer = 'lecun_normal', activation = "selu"))
#     #model.add(keras.layers.BatchNormalization())
#     model.add(keras.layers.Dense(300, kernel_initializer = 'lecun_normal', activation = "selu"))
#     #model.add(keras.layers.BatchNormalization())
#     model.add(keras.layers.Dense(300, kernel_initializer = 'lecun_normal', activation = "selu"))
#     #model.add(keras.layers.BatchNormalization())
#     model.add(keras.layers.Dense(1))
    
    model.compile(loss="mse", 
                  optimizer = "adam", 
                  metrics=["mse"])
    return model

In [34]:
k = 10
num_val = len(X_train) // k
num_epochs = 100
all_scores = []
temp = []

for i in range(k):
    print('processing fold #', i)
    X_val = X_train[i * num_val: (i + 1) * num_val]
    y_val = y_train[i * num_val: (i + 1) * num_val]

    X_train_part = np.concatenate(
        [X_train[:i * num_val],
         X_train[(i + 1) * num_val:]],
        axis=0)
    y_train_part = np.concatenate(
        [y_train[:i * num_val],
         y_train[(i + 1) * num_val:]],
        axis=0)
    
    model = build_model()
    model.fit(X_train_part, y_train_part,
              epochs=num_epochs, 
              verbose=0)

    val_mse, val_mae = model.evaluate(X_val, y_val, verbose=0)
    all_scores.append(val_mse)
    temp.append(val_mse)

processing fold # 0
processing fold # 1
processing fold # 2
processing fold # 3
processing fold # 4
processing fold # 5
processing fold # 6
processing fold # 7
processing fold # 8
processing fold # 9

In [35]:
all_scores

[270171865088.0,
 71499186176.0,
 72363180032.0,
 74562478080.0,
 259903012864.0,
 93195206656.0,
 93819346944.0,
 135557890048.0,
 79534333952.0,
 123820687360.0]

In [36]:
np.mean(all_scores)

127442718720.0

In [27]:
all_scores

[16869612544.0,
 14947997696.0,
 11810857984.0,
 13952116736.0,
 14038784000.0,
 11409452032.0,
 12698981376.0,
 11545284608.0,
 14699189248.0,
 11849213952.0]

In [28]:
np.mean(all_scores)

13382149017.6

In [17]:
def build_model(): 
    model = keras.models.Sequential()
    model.add(keras.layers.Flatten(input_shape=(X_train.shape[1],)))
    model.add(keras.layers.Dense(300, activation='relu'))
    model.add(keras.layers.Dense(200, activation='relu'))
    model.add(keras.layers.Dense(100, activation='relu'))
#     model.add(keras.layers.Dense(64, activation='relu'))
#     model.add(keras.layers.Dropout(0.3))
    model.add(keras.layers.Dense(1))
    
    model.compile(optimizer='rmsprop', loss='mse', metrics=['mse'])
    
    return model

In [23]:
def build_model(): 
    model = keras.models.Sequential()
    model.add(keras.layers.Flatten(input_shape=(X_train.shape[1],)))
    model.add(keras.layers.Dense(64, activation='relu'))
    model.add(keras.layers.Dense(64, activation='relu'))
    model.add(keras.layers.Dense(64, activation='relu'))
    model.add(keras.layers.Dense(64, activation='relu'))
    model.add(keras.layers.Dropout(0.3))
    model.add(keras.layers.Dense(1))
    
    model.compile(optimizer='rmsprop', loss='mse', metrics=['mse'])
    
    return model

In [18]:
k = 10
num_val = len(X_train) // k
num_epochs = 300
all_scores = []
temp = []

for i in range(k):
    print('processing fold #', i)
    X_val = X_train[i * num_val: (i + 1) * num_val]
    y_val = y_train[i * num_val: (i + 1) * num_val]

    X_train_part = np.concatenate(
        [X_train[:i * num_val],
         X_train[(i + 1) * num_val:]],
        axis=0)
    y_train_part = np.concatenate(
        [y_train[:i * num_val],
         y_train[(i + 1) * num_val:]],
        axis=0)
    
    model = build_model()
    model.fit(X_train_part, y_train_part,
              epochs=num_epochs, 
              verbose=0)

    val_mse, val_mae = model.evaluate(X_val, y_val, verbose=0)
    all_scores.append(val_mse)
    temp.append(val_mse)

processing fold # 0
processing fold # 1
processing fold # 2
processing fold # 3
processing fold # 4
processing fold # 5
processing fold # 6
processing fold # 7
processing fold # 8
processing fold # 9

In [19]:
all_scores

[13806368768.0,
 18980960256.0,
 13360280576.0,
 15514058752.0,
 12047620096.0,
 12184570880.0,
 16293819392.0,
 16030162944.0,
 16110180352.0,
 17616619520.0]

In [20]:
np.mean(all_scores)

15194464153.6

In [21]:
def build_model(): 
    model = keras.models.Sequential()
    model.add(keras.layers.Flatten(input_shape=(X_train.shape[1],)))
    model.add(keras.layers.Dense(64, activation='selu'))
    model.add(keras.layers.Dense(64, activation='selu'))
    model.add(keras.layers.Dense(64, activation='selu'))
    model.add(keras.layers.Dense(64, activation='selu'))
    model.add(keras.layers.Dropout(0.3))
    model.add(keras.layers.Dense(1))
    
    model.compile(optimizer='rmsprop', loss='mse', metrics=['mse'])
    
    return model

In [22]:
k = 10
num_val = len(X_train) // k
num_epochs = 300
all_scores = []
temp = []

for i in range(k):
    print('processing fold #', i)
    X_val = X_train[i * num_val: (i + 1) * num_val]
    y_val = y_train[i * num_val: (i + 1) * num_val]

    X_train_part = np.concatenate(
        [X_train[:i * num_val],
         X_train[(i + 1) * num_val:]],
        axis=0)
    y_train_part = np.concatenate(
        [y_train[:i * num_val],
         y_train[(i + 1) * num_val:]],
        axis=0)
    
    model = build_model()
    model.fit(X_train_part, y_train_part,
              epochs=num_epochs, 
              verbose=0)

    val_mse, val_mae = model.evaluate(X_val, y_val, verbose=0)
    all_scores.append(val_mse)
    temp.append(val_mse)

processing fold # 0
processing fold # 1
processing fold # 2
processing fold # 3
processing fold # 4
processing fold # 5
processing fold # 6
processing fold # 7
processing fold # 8
processing fold # 9

In [23]:
all_scores

[12640817152.0,
 15923390464.0,
 13757606912.0,
 17048558592.0,
 13980404736.0,
 12524831744.0,
 13530193920.0,
 12817385472.0,
 15166085120.0,
 14198850560.0]

In [24]:
np.mean(all_scores)

14158812467.2

In [25]:
def build_model(): 
    model = keras.models.Sequential()
    model.add(keras.layers.Flatten(input_shape=(X_train.shape[1],)))
    model.add(keras.layers.Dense(300, activation='selu'))
    model.add(keras.layers.Dense(200, activation='selu'))
    model.add(keras.layers.Dense(100, activation='selu'))
    model.add(keras.layers.Dense(64, activation='selu'))
    model.add(keras.layers.Dropout(0.3))
    model.add(keras.layers.Dense(1))
    
    model.compile(optimizer='adam', loss='mse', metrics=['mse'])
    
    return model

In [26]:
k = 10
num_val = len(X_train) // k
num_epochs = 300
all_scores = []
temp = []

for i in range(k):
    print('processing fold #', i)
    X_val = X_train[i * num_val: (i + 1) * num_val]
    y_val = y_train[i * num_val: (i + 1) * num_val]

    X_train_part = np.concatenate(
        [X_train[:i * num_val],
         X_train[(i + 1) * num_val:]],
        axis=0)
    y_train_part = np.concatenate(
        [y_train[:i * num_val],
         y_train[(i + 1) * num_val:]],
        axis=0)
    
    model = build_model()
    model.fit(X_train_part, y_train_part,
              epochs=num_epochs, 
              verbose=0)

    val_mse, val_mae = model.evaluate(X_val, y_val, verbose=0)
    all_scores.append(val_mse)
    temp.append(val_mse)

processing fold # 0
processing fold # 1
processing fold # 2
processing fold # 3
processing fold # 4
processing fold # 5
processing fold # 6
processing fold # 7
processing fold # 8
processing fold # 9

In [27]:
all_scores

[11844591616.0,
 14450809856.0,
 13823792128.0,
 25407162368.0,
 11603164160.0,
 14355822592.0,
 16811030528.0,
 70122725376.0,
 15873592320.0,
 16535623680.0]

In [28]:
np.mean(all_scores)

21082831462.4